{% extends "basic.html" %}

{% block title %} wlfans {% endblock %}

{% block header %} 
<center>
<h2> <font color='black'>[질문 게시판]</font></h2>
</center>
{% endblock %}

{% block content %}

<center>
    {% if question_list %}
        <Table >
            <tr bgcolor='white'>
                <td>아이디</td>
                <td>제  목</td>
                <td>내  용</td>
                <td>시  간</td>
            </tr>
        {% for question in question_list %}
            <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.subject }} </td>
            <td>{{ question.content }} </td>
            <td>{{ question.create_date }} </td>
            <tr>
        {% endfor %}
        </Table>
    {% else %}
        <p><font color='red'>등록된 질문없음</font></p> 
    {% endif %}
    <button onclick="location.href='/question/input/'">
    > 질문 등록 
    </button>
</center>
{% endblock %}