<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie main</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanolja+Yache&display=swap" rel="stylesheet">
    <style>
        /* KDT CINEMA 텍스트에 나눔손글씨 펜 글꼴 적용 */
        button {
            font-family: 'Yanolja Yache', sans-serif;
            font-size: 16px;
            color: fff; /* 텍스트 색상을 남색으로 설정 */
        }
        /* KDT CINEMA 텍스트에 Indie Flower 글꼴 적용 */
        h1 {
            font-family: 'Indie Flower', cursive;
            font-size: 90px;
            padding: 5px; /* 텍스트 주변에 여백 추가 */
            color: navy; /* 텍스트 색상을 남색으로 설정 */
        }
        button
    </style>
</head>
<body>
    <center>
        <h1 style="font-size: 60px;">
            KDT CINEMA
        </h1>

        <!-- 희진 -->
        <button type="button" class="learn-more" onclick="changeIframeSrc('hj.html')">희진의 포스터로 장르 분류 모델</button>
        <!-- 동현-->
        <button type="button" class="learn-more" onclick="changeIframeSrc('dh.html')">동현의 포스터로 평점 예측 모델</button>
        <!-- 화은 -->
        <button type="button" class="learn-more" onclick="changeIframeSrc('he.html')">화은의 줄거리로 장르 분류 모델</button>
        <!-- 현우 -->
        <button type="button" class="learn-more" onclick="changeIframeSrc('hw.html')">현우의 줄거리로 평점 예측 모델</button>
        <br>
        <br>
        <iframe id="myIframe" src="../static/image/model_bg.png" width="1200" height="672"></iframe>
    </center>
    <script>
        function changeIframeSrc(src) {
            var iframe = document.getElementById('myIframe');
            iframe.onload = function() {
                // iframe이 로드되면 아무 작업도 하지 않습니다.
            };
            iframe.onerror = function() {
                // iframe 로드가 실패하면 기본 이미지를 표시합니다.
                iframe.src = '../image/model_bg.png'; // 기본 이미지 파일 경로
            };
            iframe.src = src;
        }
    </script>
</body>
</html>