/* mystyle.css */

/* 전체 요소의 텍스트 색상을 빨간색으로 지정 */
* {
    color: red;
}

/* 태그명 선택자 */
p {
    background-color: rgb(16, 49, 59);
    font-size: 40px;
    border: 4px dotted wheat;
    color: white;
}

/* 헤더 태그의 글꼴을 sans-serif로 지정 */
h1, h2, h3 {
    font-family: sans-serif;
}

/* 아이디 선택자 */
#second_p {
    background-color: greenyellow;
    font-size: 40px;
    border: 4px dotted pink;
}

/* 클래스 선택자 */
/* 태그가 다르더라도 클래스 속성 값이 동일한 부분에 적용 */
.para {
    background-color: rgb(16, 49, 59);
    font-size: 40px;
    border: 4px dotted red;
}
