<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename = 'css/style_2.css')}}" rel = "stylesheet">
</head>
<body>
    <center>
        <h1 style = "font-size: 80px;">Look so yammy</h1>
        <h1 style = "font-size: 80px;">Give me that popcorn</h1>
        <a href = "{{ url_for('data.input_data') }}">
        <img src="{{ url_for('static', filename='image/pop.png') }}" alt="popcorn">
        </a>
    </center>
</body>

</html>
